# Enable Path Info for URL routing (e.g. projects.php/get/active)
<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

AcceptPathInfo On

# Handle Authorization Header
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
